/* @import url('https://fonts.googleapis.com/css2?family=Montez&display=swap'); */

@font-face {
    font-family: "RetroCool";
    src: local("RetroCool-Regular"),
      url("trickster-COLRv1.otf") format("opentype") tech(color-COLRv1), url("RetroCool-Regular.otf")
        format("opentype"), url("RetroCool-Regular.woff") format("woff");
  }

*{  
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(10,10,10);
    color: rgb(240,240,240);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: "RetroCool", sans-serif;
}

header{
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: rgb(240,240,240);
}

.image-container {
    height: 96px;
    width: 96px;
    border-radius: 48px;
    overflow: hidden;
}

.image-container img {
    height: 100%;
}